{%  extends "testbase/base.html" %}

{% block title %} Delete Group {%  endblock %}

{% block content %}
<div class="container">
    <form class="form-horizontal" action="{% url 'group_delete' object.pk %}" autocomplete="off" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
         <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"> Delete</button>
                </div>
         </div>
     </form>
</div>
{% endblock %}