{%  extends "testbase/base.html" %}

{% block title %} Create a new student {%  endblock %}

{% block content %}
<div class="container">
    <form class="form-horizontal" action="{% url 'student_create' %}" autocomplete="off" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>New student</h2>
                <hr>
            </div>
        </div>
        {% for field in form %}
            <label class="control-label">{{ field.label }}</label>
            <div class="input-group">
            <span class="input-group-addon"></span>
                {{ field }}
            </div>


            <div class="col-md-3">
            <div class="form-control-feedback">
                    <div class="help-block">
                        {{ field.help_text }}
                    <strong>
                         {{ field.errors }}
                    </strong>
                    </div>
            </div>
            </div>
        {% endfor %}
         <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"> Create student</button>
                </div>
         </div>
     </form>
</div>
{% endblock %}